/* Aquí puedes poner el código CSS para personalizar el estilo de tu web */
body {
  background-color: black; /* El fondo de la web es negro */
}
h1 {
  font-family: "MAD Hack", sans-serif; /* La fuente del título es MAD Hack */
  color: lime; /* El color del título es verde brillante */
  text-align: center; /* El título está centrado */
}
.header {
  display: flex; /* La cabecera usa flexbox para alinear los elementos */
  align-items: center; /* Los elementos de la cabecera están centrados verticalmente */
  border-bottom: 5px solid white; /* La cabecera tiene un borde blanco debajo */
}
.header img {
  width: 100px; /* La imagen de la cabecera tiene un ancho fijo */
  margin-left: 10px; /* La imagen de la cabecera tiene un margen izquierdo */
}
.header a {
  text-decoration: none; /* Los enlaces de la cabecera no tienen subrayado */
  display: flex; /* La cabecera usa flexbox para alinear los elementos */
  align-items: center; /* Los elementos de la cabecera están centrados verticalmente */
}
.header h1 {
  flex-grow: 1; /* El elemento h1 ocupa todo el espacio disponible */
}
.buttons {
  display: flex; /* Los botones usan flexbox para alinear los botones */
  justify-content: center; /* Los botones están centrados horizontalmente */
  margin-top: 20px; /* Los botones tienen un margen superior */
}
.buttons button {
  font-family: "Cascadia Code", monospace; /* La fuente de los botones es Cascadia Code */
  color: white; /* El color del texto de los botones es blanco */
  background-color: darkgreen; /* El color de fondo de los botones es verde oscuro */
  border: none; /* Los botones no tienen borde */
  padding: 10px 20px; /* Los botones tienen un relleno */
  margin: 10px; /* Los botones tienen un margen */
  cursor: pointer; /* El cursor cambia a una mano al pasar sobre los botones */
}
.buttons button:hover {
  transform: scale(1.1); /* Los botones crecen un poco al pasar el cursor sobre ellos */
}
.content {
  margin: 20px; /* El contenido tiene un margen */
}
.content h2 {
  font-family: "Cascadia Code", monospace; /* La fuente de los subtítulos es Cascadia Code */
  color: lime; /* El color de los subtítulos es verde brillante */
}
.content h3 {
  font-family: "Cascadia Code", monospace; /* La fuente de los subtítulos es Cascadia Code */
  color: rgb(231, 29, 29); /* El color de los subtítulos es verde brillante */
}

blockquote {
  font-family: "Cascadia Code", monospace; /* La fuente es Cascadia Code */
  font-style: italic; /* El estilo es cursiva */
  color: cyan;
}

.content img {
  width: 70%; /* La imagen ocupa el 50% del ancho disponible */
}
.content p {
  font-family: "Cascadia Code", monospace; /* La fuente de los párrafos es Cascadia Code */
  color: white; /* El color de los párrafos es blanco */
}